[データサイエンスのためのPython入門17〜DataFrameの重要関数\(apply, unique, value\_counts\)を超わかりやすく解説〜](https://datawokagaku.com/dataframe_apply/)

今日はDataFrameとSeriesのよく使うメソッドについて。

In [6]:
import pandas as pd
df = pd.read_csv('data/titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## `.unique()`, `.nunique()`

* `.unique()`: ユニークな値のリストを返す
* `.nunique()`: ユニークな値の数を返す

In [11]:
df['Pclass'].unique()

array([3, 1, 2])

In [12]:
df['Pclass'].nunique()

3

## `.value_counts()`

In [13]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

`.unique()`よりこっちのほうがカウントもわかるし、便利そう。

## `.apply()` （超重要）

In [25]:
def get_age_group(age):
    return str(age)[0] + '0s'

という関数があるとして、これを各レコードに適用していく感じ。

In [26]:
df['Age'].apply(get_age_group)

0      20s
1      30s
2      20s
3      30s
4      30s
      ...
886    20s
887    10s
888    n0s
889    20s
890    30s
Name: Age, Length: 891, dtype: object

lambdaでも使えるよ。

In [32]:
df['Age'].apply(lambda x: str(x)[0] + '0s')

0      20s
1      30s
2      20s
3      30s
4      30s
      ...
886    20s
887    10s
888    n0s
889    20s
890    30s
Name: Age, Length: 891, dtype: object

Seriesだけじゃなく、DataFrameでも`.apply()`できるよ。

In [35]:
df.apply(lambda row: '{} is {} years old'.format(row['Name'], row['Age']), axis=1)

0              Braund, Mr. Owen Harris is 22.0 years old
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2               Heikkinen, Miss. Laina is 26.0 years old
3      Futrelle, Mrs. Jacques Heath (Lily May Peel) i...
4             Allen, Mr. William Henry is 35.0 years old
                             ...
886              Montvila, Rev. Juozas is 27.0 years old
887       Graham, Miss. Margaret Edith is 19.0 years old
888    Johnston, Miss. Catherine Helen "Carrie" is na...
889              Behr, Mr. Karl Howell is 26.0 years old
890                Dooley, Mr. Patrick is 32.0 years old
Length: 891, dtype: object

データに対してなんか処理をしたいときはlambdaでしゅっとやるとよさそうですね。